.todo-form .modal-overlay {
  z-index: 1002;
  display: block;
  opacity: 0.5;
}

.todo-form .modal {
  z-index: 1003;
  display: block;
  opacity: 1;
  top: 10%;
  transform: scaleX(1) scaleY(1);
  text-align: left;
}
.todo-form .modal-content {
  overflow: visible !important;
}

.todo-form .btn-date-picker-clear::after {
  background-color: transparent;
  font-size: 18px;
  color: grey;
  padding-bottom: 10px;
}

.input-field > label {
  transform: translateY(-14px) scale(0.8);
  transform-origin: 0 0;
}
