h1 {
  text-align: center;
}

.todo-list-app {
  width: 100vw;
  height: calc(100vh - 64px);
  overflow: hidden;
}
.toolbox,
.todo-add,
.todo-card-panel,
.btn-add-todo {
  width: calc(100vw - 80px);
}

.toolbox {
  margin: 0 auto;
  text-align: center;
}

.todo-card-panel {
  height: calc(100vh - 200px);
  margin: 10px auto !important;
  padding: 0 !important;
}

.todo-list {
  overflow-x: scroll;
  height: 100%;
  overflow: scroll !important;
}

.todo-list table {
  min-width: 614px;
}
.todo-list th:first-child,
.todo-list tr > td:first-child {
  padding-left: 16px;
}

.todo-list th:last-child,
.todo-list tr > td:last-child {
  padding-right: 16px;
}
.todo-list-error {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-done {
  color: grey;
}

.todo-add {
  margin: 20px auto;
}

.toolbox {
  position: relative;
  margin-top: 10px;
}

.dark-theme-btn {
  position: absolute;
  right: 0;
  bottom: 0;
}

.text-center {
  text-align: center;
}

.todo-item {
  display: flex;
}
.todo-item > div {
  flex: 1;
  text-align: left;
}

.done-at {
  font-size: 12px;
  color: grey;
}
