.analytics-page {
  width: 100vw;
  height: calc(100vh - 64px);
}

select {
  display: unset;
}

.analytics-option-wrapper {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  padding-left: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.analytics-option-wrapper .label {
  margin-right: 10px;
}
