body {
  overflow-y: hidden;
}
#root {
  width: 100vw;
  height: 100vh;
  text-align: center;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}

.full-width {
  width: 100%;
}

a {
  cursor: pointer;
}

a.active {
  text-decoration: underline;
}

.btn-counter {
  margin-top: 100px;
}
